client/FinalProject/FinalProject/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/model" />
  <xs:element name="GetAllCastumeres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCastumeresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllCastumeresResult" nillable="true" type="q1:ArrayOfcastumeres" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGauides">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGauidesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllGauidesResult" nillable="true" type="q2:ArrayOfgauides" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCastumerIfExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckCastumerIfExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckCastumerIfExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckcityIfExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ncity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckcityIfExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckcityIfExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Checkchugifexcist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="namech" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckchugifexcistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckchugifexcistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetCustByIdResult" nillable="true" type="q3:castumeres" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCastumer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="s" nillable="true" type="q4:castumeres" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCastumerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCastumerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManui">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="n" nillable="true" type="q5:menuyim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddManuiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChugim">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChugimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllChugimResult" nillable="true" type="q6:ArrayOfChugim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTyp_Chugims">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTyp_ChugimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllTyp_ChugimsResult" nillable="true" type="q7:ArrayOftyp_chugim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonsInWeekForCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ccodeManuy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonsInWeekForCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetLessonsInWeekForCustomerResult" nillable="true" type="q8:ArrayOfrishum_to_lesson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManuy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeManuy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetManuyResult" nillable="true" type="q9:menuyim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllcity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllcityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllcityResult" nillable="true" type="q10:ArrayOfcity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllcategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllcategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllcategoryResult" nillable="true" type="q11:ArrayOfcategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTypmanui">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTypmanuiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAllTypmanuiResult" nillable="true" type="q12:ArrayOftyp_menuyim_price_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManuyToCust">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="id" nillable="true" type="q13:castumeres" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManuyToCustResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetManuyToCustResult" nillable="true" type="q14:ArrayOfmenuyim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodtotypmanuy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodtotypmanuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodtotypmanuyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodtomenuyim">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodtomenuyimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodtomenuyimResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodtotypchugim">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodtotypchugimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodtotypchugimResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodtocity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodtocityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodtocityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addtypchug">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="t" nillable="true" type="q15:typ_chugim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddtypchugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddtypchugResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addcity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="c" nillable="true" type="q16:city" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddcityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddcityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addtypmanui">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="t" nillable="true" type="q17:typ_menuyim_price_" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddtypmanuiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddtypmanuiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addlesson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="c" nillable="true" type="q18:Chugim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddlessonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddlessonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumLessonfree">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeManuy" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumLessonfreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNumLessonfreeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="c" nillable="true" type="q19:castumeres" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delatguaid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="g" nillable="true" type="q20:gauides" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delatguaidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delatguaidResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delateciey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="c" nillable="true" type="q21:city" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delatecieyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delatecieyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delatetypchug">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="t" nillable="true" type="q22:typ_chugim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delatetypchugResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delatetypchugResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addlesontomanui">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="r" nillable="true" type="q23:rishum_to_lesson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddlesontomanuiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddlesontomanuiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlrishum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlrishumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="GetAlrishumResult" nillable="true" type="q24:ArrayOfrishum_to_lesson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Addgauid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/model" minOccurs="0" name="g" nillable="true" type="q25:gauides" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddgauidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddgauidResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodtogauid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodtogauidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCodtogauidResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>